.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Tres columnas que se ajustan al tamaño del contenedor */
    grid-gap: 10px; /* Espacio entre los elementos */
}


.all-products{
overflow-y: auto;
max-height: calc(100vh - 50px);
}

#allProducts{
    display: grid;
    /* grid-gap: 1px; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.input-group{
margin:20px;
}

.ticket-cart {
            font-family: Arial, sans-serif;
        }
        .ticket-cart table {
            width: 100%;
            border-collapse: collapse;
        }
        .ticket-cart th, .ticket-cart td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
        .ticket-cart th {
            background-color: #f2f2f2;
        }